# Exploratory Data Analysis

### Tic Tac Toe Dataset
- Importing datasets from URL
- Modifying header names

In [22]:
# Dataset from the UCI website
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'

# Creating the headers for the columns in the dataset
name_cols = ["top-left-square", "top-middle-square", "top-right-square",
             "middle-left-square", "middle-middle-square", "middle-right-square",
             "bottom-left-square", "bottom-middle-square", "bottom-right-square",
             "Class" ]

# Creating the initial dataframe
df = pd.read_csv(url, names=name_cols)

# Viewing a sample of the file
df.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,Class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive

### Auto MPG Dataset
- Importing data from local file
- Basic data cleaning where data imported in as only one column

In [127]:
# Locally saved file
path = "data/auto-mpg.data"

# Fresh dataframe creation
d = {"mpg": [], "cylinders": [], "displacement": [],
     "horsepower": [], "weight": [], "acceleration": [],
     "model year": [], "origin": [], "car name": []}
df = pd.DataFrame(data=d)

# Importing broken dataframe
df_import = pd.read_csv(path, header=None)

# Looping through rows and making data presentable
for i, row in df_import.iterrows():
    row_list = df_import.loc[i][0].split()
    row_list[8:] = [' '.join(row_list[8:])]
    row_list[8] = row_list[8][1:-1]
    df.loc[len(df.index)] = row_list

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.,10.5,70,1,ford torino