# Join and Reshape Data

**Importing Libraries**

In [1]:
import pandas as pd
import numpy as np

### Concatinating DataFrames

In [2]:
# Make DataFrames
df1 = pd.DataFrame(np.random.rand(3,2),
                  columns = ['cat', 'dog'])
df2 = pd.DataFrame(np.random.rand(3,2),
                  columns = ['cat', 'dog'])

# Print out the DataFrames
print(df1); print(df2)

        cat       dog
0  0.103922  0.291226
1  0.451201  0.896232
2  0.663092  0.609848
        cat       dog
0  0.292687  0.337530
1  0.132727  0.451972
2  0.556965  0.174729

**Concatinating on the row index**

In [4]:
# Concatinating the two DataFrames ignoring the index
pd.concat([df1, df2], ignore_index=True)

        cat       dog
0  0.103922  0.291226
1  0.451201  0.896232
2  0.663092  0.609848
3  0.292687  0.337530
4  0.132727  0.451972
5  0.556965  0.174729

**Concatenating on the column axis**

In [5]:
# Create the new DataFrame
df3 = pd.DataFrame(np.random.rand(3,2),
                  columns = ['bird', 'horse'])

# Concatenate it with one of the previous examples
pd.concat([df1, df3], axis=1)

        cat       dog      bird     horse
0  0.103922  0.291226  0.880998  0.432052
1  0.451201  0.896232  0.217186  0.483701
2  0.663092  0.609848  0.230859  0.827305

In [6]:
# Create the DataFrames

data4 = {'Alpaca':['A1', 'A2', 'A3'], 'Bird':['B1', 'B2', 'B3'],
        'Camel':['C1', 'C2', 'C3']} 
df4 = pd.DataFrame(data4)
print(df4)

data5 = {'Bird':['B3', 'B4', 'B5'], 'Camel':['C3', 'C4', 'C5'],
        'Duck':['D3', 'D4', 'D5']} 
df5 = pd.DataFrame(data5, index=[3,4,5])
print(df5)

# Joining on by default on outer
print(pd.concat([df4, df5], sort=False))

  Alpaca Bird Camel
0     A1   B1    C1
1     A2   B2    C2
2     A3   B3    C3
  Bird Camel Duck
3   B3    C3   D3
4   B4    C4   D4
5   B5    C5   D5
  Alpaca Bird Camel Duck
0     A1   B1    C1  NaN
1     A2   B2    C2  NaN
2     A3   B3    C3  NaN
3    NaN   B3    C3   D3
4    NaN   B4    C4   D4
5    NaN   B5    C5   D5

In [7]:
# Joining DataFrames on inner
print(pd.concat([df4, df5], sort=False, join='inner'))

  Bird Camel
0   B1    C1
1   B2    C2
2   B3    C3
3   B3    C3
4   B4    C4
5   B5    C5

### Merging DataFrams
- left - one of the DataFrames to merge
- right - the other DataFrame to merge
- how - specifies the kind of merge to make
- on - the column on which to merge; needs to be in both DataFrames
- left_on - the column to join on in the left DataFrame
- right_on - the column to join on in the right DataFrame
- left_index or right_index - use the index from the left/right DataFrame as the join key(s)

**Default merge if merge column has same name**

In [10]:
# Create DataFrames
df1 = pd.DataFrame({'day': ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'],
                   'weather': ['sunny', 'windy', 'rainy', 'cloudy', 'cold']})
df2 = pd.DataFrame({'day': ['Wed', 'Fri', 'Mon', 'Thurs', 'Tues'],
                   'temp': [88, 75, 62, 65, 53]})

# Display the DataFrames
display(df1)
display(df2)

# Merging the two DataFrames
df3 = pd.merge(df1, df2)
display(df3)

     day weather
0    Mon   sunny
1   Tues   windy
2    Wed   rainy
3  Thurs  cloudy
4    Fri    cold

     day  temp
0    Wed    88
1    Fri    75
2    Mon    62
3  Thurs    65
4   Tues    53

     day weather  temp
0    Mon   sunny    62
1   Tues   windy    53
2    Wed   rainy    88
3  Thurs  cloudy    65
4    Fri    cold    75

**Merging specifying index names for each dataframe**

In [15]:
# Change the column name day -> day_of_week
df2_new = pd.DataFrame({'day_of_week': ['Wed', 'Fri', 'Mon', 'Thurs', 'Tues'],
                   'temp': [88, 75, 62, 65, 53]})

df4 = pd.merge(df1, df2_new, left_on='day', right_on='day_of_week').drop('day_of_week', axis=1)
display(df4)

     day weather  temp
0    Mon   sunny    62
1   Tues   windy    53
2    Wed   rainy    88
3  Thurs  cloudy    65
4    Fri    cold    75

**Handeling joins with missing data**

In [17]:
df6 = pd.DataFrame({'name': ['Snowball', 'Bob', 'Tweetie', 'Fluffy'],
                   'type': ['cat', 'rat', 'bird', 'dog']})

df7 = pd.DataFrame({'name': ['Snowball', 'Bob'],
                   'weight': [400, 749]})

# Display before merging
display(df6); display(df7)

# Joing with inner and outer
df8_inner = pd.merge(df6, df7, how='inner')
df8_outer = pd.merge(df6, df7, how='outer')

# Displaying the diffrence
display(df8_outer); display(df8_inner)

       name  type
0  Snowball   cat
1       Bob   rat
2   Tweetie  bird
3    Fluffy   dog

       name  weight
0  Snowball     400
1       Bob     749

       name  type  weight
0  Snowball   cat   400.0
1       Bob   rat   749.0
2   Tweetie  bird     NaN
3    Fluffy   dog     NaN

       name type  weight
0  Snowball  cat     400
1       Bob  rat     749

**Setting index and using join method**
- nice way to join without having to do a full merge

In [20]:
# Reset indices 
df1a = df1.set_index('day')
df2a = df2.set_index('day')

df1a.join(df2a, on='day')

      weather  temp
day
Mon     sunny    62
Tues    windy    53
Wed     rainy    88
Thurs  cloudy    65
Fri      cold    75

**Using merge on left_index and right_index**
- usefull if the merge feature is in the index

In [27]:
# Creating DataFrames
df9 = pd.DataFrame({'day': ['Wed', 'Fri', 'Mon', 'Thurs', 'Tues'],
                   'temp': [88, 75, 62, 65, 53]})

df10 = pd.DataFrame({'day_of_week': ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'],
                   'weather': ['sunny', 'windy', 'rainy', 'cloudy', 'cold']})

# Setting Indexes
df9 = df9.set_index('day')
df10 = df10.set_index('day_of_week')

# Merging on inde
df11 = pd.merge(df9, df10, left_index=True, right_index=True)
display(df11)

       temp weather
Wed      88   rainy
Fri      75    cold
Mon      62   sunny
Thurs    65  cloudy
Tues     53   windy