# Wrangle ML Datasets

**import libraries**

In [251]:
import pandas as pd

### Data wrangling with USGS Earthquake Catalog and the PNSN Earthquake catalog dataset

In [252]:
cols_one = ['Date', 'Time', 'Latitude', 'Longitude', 'Depth', 'Magnitude', 'Magnitude Type']
eq_one = pd.read_csv('data/earthquakeone.csv', usecols=cols_one)
cols_two = ['time', 'latitude', 'longitude', 'depth', 'mag', 'magType']
eq_two = pd.read_csv('data/earthquaketwo.csv', usecols=cols_two)

In [253]:
eq_one.head()

         Date      Time  Latitude  Longitude  Depth  Magnitude Magnitude Type
0  01/02/1965  13:44:18    19.246    145.616  131.6        6.0             MW
1  01/04/1965  11:29:49     1.863    127.352   80.0        5.8             MW
2  01/05/1965  18:05:58   -20.579   -173.972   20.0        6.2             MW
3  01/08/1965  18:49:43   -59.076    -23.557   15.0        5.8             MW
4  01/09/1965  13:32:50    11.938    126.427   15.0        5.8             MW

In [254]:
eq_two.head()

                       time   latitude   longitude  depth   mag magType
0  2021-12-09T02:45:40.630Z  35.913167 -117.727000   6.94  0.85      ml
1  2021-12-09T02:14:45.494Z  63.542500 -146.192400  95.20  2.40      ml
2  2021-12-09T02:07:00.080Z  32.694667 -115.759333   3.92  1.72      ml
3  2021-12-09T02:05:07.876Z  29.407100  129.400600  10.00  5.90     mww
4  2021-12-09T02:03:21.984Z  61.360000 -151.785600  26.50  0.60      ml

### Formating magType

In [255]:
eq_two['magType'] = eq_two['magType'].astype(str)
eq_two['magType'] = eq_two['magType'].map(lambda x: x.upper())

### Formating DateTime features for both dataframes

**DateTime for eq_two**

In [256]:
# Converting from string to datetime object
eq_two['time'] = eq_two['time'].map(lambda x: x.replace('T', ' '))
eq_two['time'] = eq_two['time'].map(lambda x: x.replace('Z', ''))
eq_two['time'] = eq_two['time'].map(lambda x: x[:-3])
eq_two['time'] = pd.to_datetime(eq_two['time'], infer_datetime_format=True)
eq_two['time'].dtype

dtype('<M8[ns]')

**DateTime for eq_one**

In [257]:
# Formating and removing to convert two string columns into one joint datatime column
eq_one['Date'] = eq_one['Date'].apply(lambda x: x + ' ')

eq_one['Time'] = eq_one['Date'] + eq_one['Time']

eq_one = eq_one[eq_one['Time'] != '1975-02-23T02:58:41.000Z 1975-02-23T02:58:41.000Z']
eq_one = eq_one[eq_one['Time'] != '1985-04-28T02:53:41.530Z 1985-04-28T02:53:41.530Z']
eq_one = eq_one[eq_one['Time'] != '2011-03-13T02:23:34.520Z 2011-03-13T02:23:34.520Z']

eq_one['Time'] = pd.to_datetime(eq_one['Time'], infer_datetime_format=True)

eq_one = eq_one.drop('Date', axis=1)

### Rename columns

In [258]:
# Rename columns
new_cols = ['time','latitude','longitude','depth','mag','magType',]
eq_one.columns = new_cols

### Combining the dataframes

In [259]:
df = pd.concat([eq_one, eq_two], ignore_index=True)
print('Size of DataFrame before dropping duplicates: ', df.shape)

df.drop_duplicates(subset='time', inplace=True)
print('Size of DataFrame after dropping duplicates: ', df.shape)

Size of DataFrame before dropping duplicates:  (32594, 6)
Size of DataFrame after dropping duplicates:  (32554, 6)